.center{
    margin-left: 671px;
    margin-top: 20px;
    color: #AABAC3;
}
.center .fa{
    font-size: 26px !important;
}

.divBorder{
    border-bottom: 1px solid #D0DBE1;
    height: 82px;
    line-height: 5;
}

.popover{
    top:70px !important;
    left:510px !important;
    max-width: 350px !important;
    border-radius: 10px !important;
}

.popover-content{
    padding: 0px 0px !important;
}

.badge-notify{
    background:#26B9B9;
    position:relative;
    top: -30px;
    left: 681px;
}

.divBorder .badge{
    padding: 5px 8px !important;
    background:#26B9B9;
}

.badge{
    padding: 3px 6px !important;
    background:#26B9B9;
}

.custom-img-circle{
    border-radius: 50%;
    width: 50%;
    height: 7%;
}

.blackColor{
    color: dimgrey;
}

.notificationTable tr{
    border-bottom: 1px solid #D0DBE1;
    background-color: #E9EFF2;
    line-height: 2.8;
}
tr:last-child{
    border-bottom: hidden;
}

tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

.notifyClass{
    padding-left: 104px;
    font-size: 18px;
}



